# pkg
node_modules

# installers
package-lock.json
yarn.lock
pnpm-lock.yaml
run.bat
json.sqlite
runner.log
yarn-error.log

.VSCodeCounter/

# env
.env
.env.*
env.development
env.production
*.tmp

# TypeScript
dist/
*.tsbuildinfo
*.d.ts.map

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
